/////////////////////////////
///////   concept   ////////
////////////////////////////

.concept{
  height: 967px;
  background: linear-gradient(to bottom, $silver 0px, $silver 407px,#A1938689 408px,#A1938689 967px);
  padding-top: 256px;
  padding-left: 8%;
  @include tab{
    height: 711px;
    background: linear-gradient(to bottom, $silver 0px, $silver 176px,#A193868A 177px, #A193868A 535px);
    padding-top: 60px;
    padding-left: 5%;
  }
  &-img__1{
    width: 52%;
    max-width: 675px;
    // min-width: 300px;
    margin-right: 11px;
    @include sp{
      object-fit: cover;
      object-position: 90% 100%;
      width:43%;
      height: 205px;
    }
  }
  &-img__2{
    width: 30%;
    max-width: 391px;
    // min-width: 200px;
    @include sp{
      object-fit: cover;
      width: 43%;
      height: 205px;
    }
  }
}

.concept-img{
  margin-bottom: 69px;
  @include tab{
    margin-bottom: 50px;
  }
}
.concept-wrap{
  color: $white;
  display: flex;
  width: 72%;
  align-items: center;
  margin-left: 73px;
  justify-content: space-between;
  @include tab{
    flex-direction: column;
    // padding-left: 21px;
    // padding-right: 21px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  &__catch{
    width: 445px;
    font-size: 4rem;
    font-family: 'Hiragino Mincho Pro',serif;
    letter-spacing: 16px;
    @include tab{
      width: 200px;
      font-size: 1.8rem;
      letter-spacing: 7.2px;
      line-height: 31px;
      margin-bottom: 18px;
    }
  }
  &__desc{
    font-size:1.6rem;
    letter-spacing: 1.6px;
    font-family: 'Hiragino Kaku Gothic Pro' sans-serif;
    line-height: 27px;
    width: 45.6%;
    @include tab{
      width: 100%;
      text-align: left;
    }
  }
}

